*{
    margin: 0px;
    padding: 0px;
}


.body{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 100px 500px 300px  100px;
    grid-template-areas: "a1 a1 a1"
                         "a4 a5 a6"
                         "a7 a8 a9"
                         "a10 a10 a10";
   
    background: hsla(228, 17%, 53%, 1);

    background: linear-gradient(90deg, hsla(228, 17%, 53%, 1) 0%, hsla(229, 28%, 88%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(228, 17%, 53%, 1) 0%, hsla(229, 28%, 88%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(228, 17%, 53%, 1) 0%, hsla(229, 28%, 88%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#727A9A", endColorstr="#D8DBE9", GradientType=1 ); 
}
    

.header{ 
    grid-area: a1;
   
   
     background-color:#888ea5;
    
    position: sticky;
    top: 0%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 3px solid black;
    font-family: 'Comfortaa', cursiva;
    font-family:  'DM Sans', sans-serif;
    font-weight: 800;
    grid-area: a1;

}
 

.menu{ 
    font-family: 'Comfortaa', cursiva;
    font-family:  'DM Sans', sans-serif;;
    font-size: 15px;
    text-decoration-color: black;
    list-style-type: none;
  
}
.menu li{
    text-decoration-color: black;
    text-decoration-color: black;
    display: inline-block;
    margin: 40px 20px


}
.menu a{
    font-family: 'Comfortaa', cursiva;
    font-family:  'DM Sans', sans-serif;
    text-decoration: none;
    color: black
    
} 


.main{
    justify-items: center;
    margin: 10px 5px 5px 5px;
    display: flex;
    align-content: space-between;
    flex-direction: column
   

}

.intro{
     display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 100px;
    

}

.seccion1{
    display: flex;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    gap: 100px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
.seccion1 p{
    margin: 30px;
    font-size: 100%;
    font-family: 'Comfortaa', cursiva;
    font-family:  'DM Sans', sans-serif;;
    font-weight: 500;
}



.seccion2{
    display: flex;
    justify-content: center;
    align-content: space-around; 
    align-items: center;
    gap: 100px;
    border-bottom: 3px solid black;


}

.seccion2 p{
    margin: 30px;
    font-size: 100%;
    font-family: 'Comfortaa', cursiva;
    font-family:  'DM Sans', sans-serif;;
    font-weight: 500;
}

.imagen1{
    grid-area: a6;
        width:50%
    
}

.imagen2{
    width:50%;
}
.imagen3{
    width: 30%;
}
.imagen4{
    width: 30%;
}

.seccion3{
    
   
    display: flex;
   flex-direction: column;
   justify-items: center;
  
}

.seccion3 h3{
    display: flex;
    justify-content: center;
     margin: 6px 6px 6px 6px;
     font-family: 'Comfortaa', cursiva;
     font-family:  'DM Sans', sans-serif;;
     font-weight: 500;
    color: black
    
}

.seccion3A{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 60px;
  
}
 .seccion3A h4{
    font-size: 20px;
    font-family: 'Comfortaa', cursiva;
    font-family:  'DM Sans', sans-serif;;
    font-weight: 500;
 }

.seccion3A p{
    padding: 20px;
    font-size: 15px;
    font-family: 'Comfortaa', cursiva;
    font-family:  'DM Sans', sans-serif;;
    font-weight: 500;
}



.seccion3B{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 0px 50px 0px;


}

.seccion3B h5{
    padding: 20px;
    font-size: 20px;
    font-family: 'Comfortaa', cursiva;
    font-family:  'DM Sans', sans-serif;;
    font-weight: 500;
 

}

.seccion3B p{
    padding: 20px;
    margin: 0px 60px 00px 60px;
    font-size: 15;
    font-family: 'Comfortaa', cursiva;
    font-family:  'DM Sans', sans-serif;;
    font-weight: 500;
    


}

.footer{
    grid-area: "a10";

    border-top: 2px solid black;
    padding: 20px;
    background-color: rgb(128, 128, 126)
  }

  .footer h6{
    

    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: 'Comfortaa', cursiva;
    font-family:  'DM Sans', sans-serif;;
    font-weight: 500;
  }



